<section class="show-contacts-page-container">
  <h2><%= "#{session[:username]}'s Contacts" %></h2>
  <div class="show-contacts-table-grid">
    <span class="contacts-header">
      <strong>First Name</strong>
    </span>
    <span class="contacts-header">
      <strong>Last Name</strong>
    </span>
    <span class="contacts-header">
      <strong>Email Address</strong>
    </span>
    <span class="contacts-header">
      <strong>Telephone</strong>
    </span>
    <span class="contacts-header"> 
      <strong>Edit/Delete</strong>
    </span>

    <% if @contacts.empty? %>
      <p>No Contacts to Display</p>
    <% else %>
      <% @contacts.each do |contact| %>
        <span>
          <%= contact['first_name'] %>
        </span>
        <span>
          <%= contact['last_name'] %>
        </span>
        <span>
          <%= contact['email'] %>
        </span>
        <span>
          <%= contact['telephone'] %>
        </span>
        <span class="edit-delete-buttons-container">
          <form action="/edit_contact" method="get">
            <input type="hidden" name="contact_id" value=<%= contact['id'] %> />
            <input type="submit" value="Edit" />
          </form>
          <form action="/delete_contact" method="post">
            <input type="hidden" name="contact_id" value=<%= contact['id'] %> />
            <input type="submit" value="Delete"
                   onclick="return confirm('Are you sure you want to delete this contact?')" />
          </form>
        </span>
      <% end %>
    <% end %>
  </div>
  <button>
    <a href="/create_contact">Create New Contact</a>
  </button>
</section>